/*
div {
  opacity: 0.5 !important;
}
div:hover {
  opacity: 1.0 !important;
}
*/
.edit_mode{
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 99999999999!important;
  width: 100% !important;
  height: 23px !important;
  background-color: red !important;
  color: white !important;
  text-align: center !important;
  table-layout: fixed !important;
  opacity: 1.0 !important;
}
.edit_bar_cell{
	display: table-cell;
}
#overlay {
 position: absolute;
background-color: rgba(0,0,0,0.5);
 z-index: 99999999998;
    pointer-events:none;
        
}